<script setup>
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <header>
    <div class="wrapper">
      <HelloWorld/>
      <nav>
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style scoped></style>
