<template>
  <v-card>
      <v-card-title>
  DASHBOARD
      <v-spacer></v-spacer>
      <div>
        <v-btn color="info" variant="tonal" class="mb-10 float-center btn-info" @click="logOut">
Logout
</v-btn>
      </div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
  </v-card>
  <v-data-table
  v-model:sort-by="sortBy"
    v-model:page="page"
    :headers="headers"
    :items="desserts"
    :items-per-page="itemsPerPage"
    hide-default-footer
    class="elevation-1"
    :search="search"
  >
    <template v-slot:bottom>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
        <v-text-field
          :model-value="itemsPerPage"
          class="pa-2"
          label="Items per page"
          type="number"
          min="-1"
          max="15"
          hide-details
          @update:model-value="itemsPerPage = parseInt($event, 10)"
        ></v-text-field>
      </div>
    </template>
  </v-data-table>
</template>

<script>
import axios from 'axios'
  import { VDataTable } from 'vuetify/labs/VDataTable'
  export default {
    components: {
    VDataTable,
  },
    data() {
      return {
        search: '',
        page: 1,
        itemsPerPage: 5,
        sortBy: [{ key: 'id', order: 'asc' }],
        headers: [
          {
            align: 'start',
            key: 'id',
            sortable: false,
           
          },
          { title: 'userId', key: 'userId' },
          { title: 'id', key: 'id' },
          { title: 'title', key: 'title' },
          { title: 'body', key: 'body' },
        ],
        desserts: [],
      }
    },
    computed: {
      pageCount() {
        return Math.ceil(this.desserts.length / this.itemsPerPage)
      },
    },
    created() {
      this.fetchData();
    },
    methods: {
      async fetchData() {
        try {
          const response = await axios.get('https://jsonplaceholder.typicode.com/posts');
          this.desserts = response.data;
          console.log(this.desserts);
        } catch (error) {
          console.error('Error fetching data:', error);
        }
      },
      logOut(){
        localStorage.removeItem('token',);
        this.$router.push('/');
      }
    },
  }
</script>

