<script>
import usersData from '@/assets/users.json';
 export default {
    data: () => ({
      visible: false,
      users : '',
      username :'',
      password : '',
      emailRules: [
        value => {
          if (value) return true

          return 'E-mail is requred.'
        },
        value => {
          if (/.+@.+\..+/.test(value)) return true

          return 'Email field only accepts valid email formats.'
        },
      ],

    }),
    methods: {
      login() {
      const { username, password } = this;
      const user = usersData.users.find(u => u.email === username && u.password === password);

      if (user && user.token) {
        if (user) {
          localStorage.setItem('token', user.token);
          this.$router.push('/about');
        } 
      } else {
        alert('Invalid username or password');

      }
    },
    
  }
  }
</script>

<template>
 <div class="py-4">
    <v-img
      class="mx-auto mb-10"
      max-width="228"
      src="https://cdn-cjido.nitrocdn.com/OWBpPGhVFQSOSTFJpSSOzqWMqrFnKYbA/assets/images/optimized/rev-f73d577/wp-content/themes/twentytwenty-child/assets/img/logo.svg"
    ></v-img>
   
    <v-card
    title="Login"
      class="mx-auto pa-12 pb-8"
      elevation="8"
      max-width="448"
      rounded="lg"
    >
    <v-form @submit.prevent>
      <div class="text-subtitle-1 text-medium-emphasis mt-5" >Email</div>

      <v-text-field
      v-model="username"
      :rules="emailRules"
        density="compact"
        placeholder="Email address"
        prepend-inner-icon="mdi-email-outline"
        variant="outlined"
        required
      ></v-text-field>
      <div class="text-subtitle-1 text-medium-emphasis mt-5">Password</div>
      <v-text-field
      v-model="password"
        :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
        :type="visible ? 'text' : 'password'"
        density="compact"
        placeholder="Enter your password"
        prepend-inner-icon="mdi-lock-outline"
        variant="outlined"
        @click:append-inner="visible = !visible"
      ></v-text-field>

      <v-btn block class="mb-8 mt-5" color="blue" size="large" variant="tonal" @click="login" >
        Log In
      </v-btn>
    </v-form>
    </v-card>
  </div>
</template>
